body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #929292;
}

#wrapper {
  max-width: 800px;
  margin: 20px auto;
  border: 4px solid #1335ae;
  font-weight:normal;
}

header {
  background-image: linear-gradient(to bottom, #5597fc, #1335ae);
  border-bottom: solid #1335ae 4px;
}

header a {
  color:#7caffc;
  padding:30px;
  font-weight:normal;
  text-decoration:none;
  font-style:italic;
  display:block;
}

header a:hover {
  background-image: linear-gradient(to top, #5597fc, #1335ae);
  color:white;
}

header h1 {
  margin:0;
}

nav {
  background-image: linear-gradient(to bottom, #3986f8, #1335ae);
  font-weight:bold;
}

nav ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

nav li {
  display:block;
  border-right: 4px solid #1335ae;
}


nav a {
  color:rgb(156, 193, 248);
  text-decoration: none;
  display: block;
  padding: 10px 40px;
}

nav a:hover {
  background-image: linear-gradient(to top, #5597fc, #1335ae);
}

body.one main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

body.two main {
  display:grid;
  grid-template-columns: 2fr 1fr;
}

body.three main {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color:white;
}



main {
  border-top: solid #1335ae 4px;
}

p {
  font-family:'Times New Roman', Times, serif;
}

h2 {
  border-bottom:solid #1335ae 3px;
  font-weight:normal;
  padding-bottom:5px;
  color:#1335ae;
}


#half1 {
  padding-right: 1em;
  padding-left: 1em;
  background-color: rgb(156, 193, 248);
  font-weight:bold;
}

#half2 {
  padding-left: 1em;
  padding-right:1em;
  background-color: white;
}

#half3 {
  padding-right: 1em;
  padding-left: 1em;
  background-color: white;
}

#half4 {
  padding-left: 1em;
  padding-right:1em;
  padding-top:20px;
  background-color:rgb(156, 193, 248);
  font-weight:bold;
  text-align:justify;
}

#third1, #third2, #third3 {
  margin: 0 10px;
}

.floatimg {
  float: left;
  width: 280px;
  margin-right:10px;
  border: 2px solid #1335ae;
}

.floatimg2 {
  float: right;
  width: 280px;
  margin-left:10px;
  border: 2px solid #1335ae;
}

.floatimg3 {
  display: block;
  margin: 0 auto;
  width: 245px;
}


.link {
  color: red;
  font-weight: bold;
  text-decoration:none;
}

.link:hover {
  color:#005bbb;
}

.active {
  color:white;
}


footer {
  background-color: red;
  padding: 10px;
  border-top: solid #1335ae 4px;
}
